[github]
	user = jergason
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[user]
	name = Jamison Dance
	email = jergason@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	editor = vim
